<a href="https://colab.research.google.com/github/Rifana22/Learn.py/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
 
print(df1.isnull())
print(df1,dropna(axis=0))

                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True

NameError: ignored

2. In the data given below,fill the missing data with 20.

In [3]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1.fillna(value=20))

                   A         B         C         D     F     E
2021-01-01  2.300093 -0.170055 -0.556868 -0.079460  20.0   1.0
2021-01-02 -0.233919 -1.065490  2.528757 -2.381983  20.0   1.0
2021-01-03  0.930625  0.042251  0.933217  0.472824  20.0  20.0
2021-01-04 -0.170167 -1.521353  1.010568 -0.925820  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
 
pieces=[df[:3],df[3:8]]
print(pieces)
print(pd.concat(pieces))
print(pd.concat(pieces,axis=1))
a=df[:3]
b=df[3:8]
print(pd.concat([a,]))

[          0         1         2         3
0 -0.741656  0.442002 -0.081551 -0.258148
1 -0.948077 -0.467956  0.166510  0.153132
2 -0.051762 -0.946220 -0.214892 -1.207395,           0         1         2         3
3  0.933677 -0.809497  0.091340 -2.321790
4  0.485019  0.305309 -1.212817  0.217768
5 -0.823022  0.193599 -0.199855 -0.736819
6 -1.779772  0.841068  1.723295  0.550136
7 -0.419247 -1.066417 -0.533806 -0.027826]
          0         1         2         3
0 -0.741656  0.442002 -0.081551 -0.258148
1 -0.948077 -0.467956  0.166510  0.153132
2 -0.051762 -0.946220 -0.214892 -1.207395
3  0.933677 -0.809497  0.091340 -2.321790
4  0.485019  0.305309 -1.212817  0.217768
5 -0.823022  0.193599 -0.199855 -0.736819
6 -1.779772  0.841068  1.723295  0.550136
7 -0.419247 -1.066417 -0.533806 -0.027826
          0         1         2  ...         1         2         3
0 -0.741656  0.442002 -0.081551  ...       NaN       NaN       NaN
1 -0.948077 -0.467956  0.166510  ...       NaN       NaN       NaN
2 -0.051762 -0.946220 -0.214892  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ... -0.809497  0.091340 -2.321790
4       NaN       NaN       NaN  ...  0.305309 -1.212817  0.217768
5       NaN       NaN       NaN  ...  0.193599 -0.199855 -0.736819
6       NaN       NaN       NaN  ...  0.841068  1.723295  0.550136
7       NaN       NaN       NaN  ... -1.066417 -0.533806 -0.027826

[8 rows x 8 columns]
          0         1         2         3
0 -0.741656  0.442002 -0.081551 -0.258148
1 -0.948077 -0.467956  0.166510  0.153132
2 -0.051762 -0.946220 -0.214892 -1.207395